# Importando Documentos

#### • Arquivo TXT

In [7]:
df_texto <- read.table("importacao_texto.txt")
df_texto

   V1    V2   V3    V4   V5   V6    V7
1  Elem. Mt   Ol    Ap   Cpx  Pig   Pl
2  La    0.24 0.008 8.2  0.11 0.024 0.18
3  Ce    0.22 0.008 9.6  0.15 0.026 0.14
4  Nd    0.23 0.008 10   0.3  0.039 0.1
5  Sm    0.24 0.009 10.2 0.52 0.06  0.072
6  Eu    0.22 0.009 6.9  0.5  0.051 0.4
7  Tb    0.27 0.011 10.9 0.67 0.13  0.058
8  Yb    0.28 0.017 6.4  0.65 0.29  0.04
9  Lu    0.27 0.02  5    0.64 0.34  0.035
10 Y     0.4  0.01  2.7  0.4  0.2   0.02
11 Ta    0.3  0.04  0.04 0.07 0.03  0.04
12 Th    0.3  0.02  5    0.02 0.03  0.02
13 U     0.1  0.01  4    0.03 0.01  0.03
14 Hf    0.4  0.03  0.06 0.3  0.04  0.03
15 Ba    0.2  0.01  0.05 0.05 0.03  0.4
16 Rb    0.09 0.05  0.04 0.02 0.02  0.1
17 Zr    0.3  0.04  0.3  0.2  0.08  0.07
18 Sr    0.08 0.01  0.06 0.2  0.03  2.5
19 Cr    69   2.4   0.04 6    11    0.06
20 Ni    15   14    0.04 5    8     0.06
21 Sc    1.5  0.3   0.05 4    2     0.04
22 Co    7    4     0.05 2    4     0.05

#### • Arquivo CSV

In [23]:
df_csv <- read.csv(file ="importacao.csv", sep=",", header=T)
df_csv


#ALGUNS ARGUMENTOS CSV
# encoding = "latin-1" ou encoding = "UTF-8"
# sep=";" ou sep="|"
#header=FALSE

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
"incomplete final line found by readTableHeader on 'importacao.csv'"

  Coluna1 Coluna2 Coluna.3
1 A       1       11A
2 B       2       22B
3 C       3       33C

#### • Arquivo Excel

In [22]:
#Necessário instalar o pacote: readxl  
#install.packages("readxl")

library(readxl)

df_excel <- read_xlsx("importacao_excel.xlsx")
df_excel

  Coluna 1 Coluna 2
1 A        10
2 B        12
3 C        15
4 D        22