# Operação Matemática

<BR>
<i> 
• Soma <br>
• Máximo <br>
• Mínimo <br>
• Média <br>
• Mediana <br> </i>

### • Criando uma tabela

In [1]:
mes_nome <- c("janeiro","fevereiro","março","abril","maio","junho","julho",
              "agosto","setembro","outubro","novembro","dezembro")
ano <- c(2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021)
venda <- c(1250,2000,1350,2412,3500,1633,4712,1855,1900,1450,2211,3612)


#===================================
df <- data.frame(mes_nome,ano,venda)
(df)

   mes_nome  ano  venda
1  janeiro   2021 1250
2  fevereiro 2021 2000
3  março     2021 1350
4  abril     2021 2412
5  maio      2021 3500
6  junho     2021 1633
7  julho     2021 4712
8  agosto    2021 1855
9  setembro  2021 1900
10 outubro   2021 1450
11 novembro  2021 2211
12 dezembro  2021 3612

In [2]:
summary(df)

      mes_nome      ano           venda
 abril    :1   Min.   :2021   Min.   :1250
 agosto   :1   1st Qu.:2021   1st Qu.:1587
 dezembro :1   Median :2021   Median :1950
 fevereiro:1   Mean   :2021   Mean   :2324
 janeiro  :1   3rd Qu.:2021   3rd Qu.:2684
 julho    :1   Max.   :2021   Max.   :4712
 (Other)  :6

### • Soma

In [3]:
soma <- sum(venda)
frase_soma <- c('Soma da coluna venda é de:',soma)
frase_soma

#usar a letra "c"

[1] "Soma da coluna venda é de:" "27885"

### • Máximo

In [4]:
maximo <- max(venda)
frase_maximo <- c('Maior valor da coluna venda é de:',maximo)
frase_maximo

[1] "Maior valor da coluna venda é de:" "4712"

### • Mínimo

In [5]:
minimo <- min(venda)
frase_minimo <- c('Menor valor da coluna venda é de:',minimo)
frase_minimo

[1] "Menor valor da coluna venda é de:" "1250"

### • Média

In [6]:
media <- mean(venda)
frase_media <- c('Media da coluna venda é de:',media)
frase_media

[1] "Media da coluna venda é de:" "2323.75"

### • Mediana

In [7]:
mediana <- median(venda)
frase_mediana <- c('Mediana da coluna venda é de:',mediana)
frase_mediana

[1] "Mediana da coluna venda é de:" "1950"