# Criar e excluir colunas
<br>
<i>
• Importar arquivo xlsx <br>
• Criar coluna com Soma <br>
• Criar coluna com Multiplicação<br>
• Criar coluna com texto<br>
• Excluir coluna (número da coluna)<br>
• Excluir coluna (vários números)<br> 
• Excluir coluna pelo nome da coluna <br>
• Excluir linha por número do índice <br>
• Excluir linha pelo nome de algum valor de alguma coluna<br>

<b>Informações necessárias </b>
<b><i>  É necessário instalar esses pacotes</i> </b><br>

<i>#if(!require(dplyr)) install.packages("dplyr") </i> <br>
<i> #if(!require(readxl)) install.packages("readxl")</i> <br>

### • Importar o Arquivo

In [16]:
setwd("f:/Documentos/R/UDEMY")
df <- read_xlsx("Numeros.xlsx")
df

   Numeros Pares Numeros Ímpares Tipo
1    2             3             a
2    4             5             b
3    6             7             c
4    8             9             a
5   10            11             b
6   20            25             c
7   30            35             a
8   40            45             b
9   50            55             c
10  60            65             a
11  70            75             b
12  80            85             c
13  90            95             a
14 100           105             b

### • Criar Colunas

In [17]:
# Coluna Soma
df["Soma"] = df$`Numeros Pares` + df$`Numeros Ímpares`

# Coluna Multiplicação
df["Multiplicação"] = df$`Numeros Pares` * df$`Numeros Ímpares`

# Coluna Texto
df["Texto"] = "Texto"
df["Texto1"] = "Texto1"
df["Texto2"] = "Texto2"
df["Texto3"] = "Texto4"
df["Texto5"] = "Texto5"
df["Texto6"] = "Texto6"

df

   Numeros Pares Numeros Ímpares Tipo Soma Multiplicação Texto Texto1 Texto2
1    2             3             a      5      6         Texto Texto1 Texto2
2    4             5             b      9     20         Texto Texto1 Texto2
3    6             7             c     13     42         Texto Texto1 Texto2
4    8             9             a     17     72         Texto Texto1 Texto2
5   10            11             b     21    110         Texto Texto1 Texto2
6   20            25             c     45    500         Texto Texto1 Texto2
7   30            35             a     65   1050         Texto Texto1 Texto2
8   40            45             b     85   1800         Texto Texto1 Texto2
9   50            55             c    105   2750         Texto Texto1 Texto2
10  60            65             a    125   3900         Texto Texto1 Texto2
11  70            75             b    145   5250         Texto Texto1 Texto2
12  80            85             c    165   6800         Texto Texto1 Texto2
13  90            95             a    185   8550         Texto Texto1 Texto2
14 100           105             b    205  10500         Texto Texto1 Texto2
   Texto3 Texto5 Texto6
1  Texto4 Texto5 Texto6
2  Texto4 Texto5 Texto6
3  Texto4 Texto5 Texto6
4  Texto4 Texto5 Texto6
5  Texto4 Texto5 Texto6
6  Texto4 Texto5 Texto6
7  Texto4 Texto5 Texto6
8  Texto4 Texto5 Texto6
9  Texto4 Texto5 Texto6
10 Texto4 Texto5 Texto6
11 Texto4 Texto5 Texto6
12 Texto4 Texto5 Texto6
13 Texto4 Texto5 Texto6
14 Texto4 Texto5 Texto6

### • Exluir Colunas

In [18]:
# Excluir uma Coluna pelo número 
df <- select(df,-c(10))
df


#OBS: removido a coluna 10, (Texto5)

   Numeros Pares Numeros Ímpares Tipo Soma Multiplicação Texto Texto1 Texto2
1    2             3             a      5      6         Texto Texto1 Texto2
2    4             5             b      9     20         Texto Texto1 Texto2
3    6             7             c     13     42         Texto Texto1 Texto2
4    8             9             a     17     72         Texto Texto1 Texto2
5   10            11             b     21    110         Texto Texto1 Texto2
6   20            25             c     45    500         Texto Texto1 Texto2
7   30            35             a     65   1050         Texto Texto1 Texto2
8   40            45             b     85   1800         Texto Texto1 Texto2
9   50            55             c    105   2750         Texto Texto1 Texto2
10  60            65             a    125   3900         Texto Texto1 Texto2
11  70            75             b    145   5250         Texto Texto1 Texto2
12  80            85             c    165   6800         Texto Texto1 Texto2
13  90            95             a    185   8550         Texto Texto1 Texto2
14 100           105             b    205  10500         Texto Texto1 Texto2
   Texto3 Texto6
1  Texto4 Texto6
2  Texto4 Texto6
3  Texto4 Texto6
4  Texto4 Texto6
5  Texto4 Texto6
6  Texto4 Texto6
7  Texto4 Texto6
8  Texto4 Texto6
9  Texto4 Texto6
10 Texto4 Texto6
11 Texto4 Texto6
12 Texto4 Texto6
13 Texto4 Texto6
14 Texto4 Texto6

In [19]:
# Excluir várias colunas pelo nome
df <- subset(df, select = -c(Texto6, Texto3))
df

   Numeros Pares Numeros Ímpares Tipo Soma Multiplicação Texto Texto1 Texto2
1    2             3             a      5      6         Texto Texto1 Texto2
2    4             5             b      9     20         Texto Texto1 Texto2
3    6             7             c     13     42         Texto Texto1 Texto2
4    8             9             a     17     72         Texto Texto1 Texto2
5   10            11             b     21    110         Texto Texto1 Texto2
6   20            25             c     45    500         Texto Texto1 Texto2
7   30            35             a     65   1050         Texto Texto1 Texto2
8   40            45             b     85   1800         Texto Texto1 Texto2
9   50            55             c    105   2750         Texto Texto1 Texto2
10  60            65             a    125   3900         Texto Texto1 Texto2
11  70            75             b    145   5250         Texto Texto1 Texto2
12  80            85             c    165   6800         Texto Texto1 Texto2
13  90            95             a    185   8550         Texto Texto1 Texto2
14 100           105             b    205  10500         Texto Texto1 Texto2

In [20]:
# Remover mais de uma coluna por número 
df <- select(df, -c(6,7))
df

   Numeros Pares Numeros Ímpares Tipo Soma Multiplicação Texto2
1    2             3             a      5      6         Texto2
2    4             5             b      9     20         Texto2
3    6             7             c     13     42         Texto2
4    8             9             a     17     72         Texto2
5   10            11             b     21    110         Texto2
6   20            25             c     45    500         Texto2
7   30            35             a     65   1050         Texto2
8   40            45             b     85   1800         Texto2
9   50            55             c    105   2750         Texto2
10  60            65             a    125   3900         Texto2
11  70            75             b    145   5250         Texto2
12  80            85             c    165   6800         Texto2
13  90            95             a    185   8550         Texto2
14 100           105             b    205  10500         Texto2

In [23]:
## Remover mais de uma coluna por número (coluna inicial até coluna final)
df <- select(df, -c(4:6))
df

   Numeros Pares Numeros Ímpares Tipo
1    2             3             a
2    4             5             b
3    6             7             c
4    8             9             a
5   10            11             b
6   20            25             c
7   30            35             a
8   40            45             b
9   50            55             c
10  60            65             a
11  70            75             b
12  80            85             c
13  90            95             a
14 100           105             b

### • Exluir Linhas

In [24]:
# EXCLUIR UMA LINHA (POR NúMERO)
df <- slice(df, -c(2))
df

   Numeros Pares Numeros Ímpares Tipo
1    2             3             a
2    6             7             c
3    8             9             a
4   10            11             b
5   20            25             c
6   30            35             a
7   40            45             b
8   50            55             c
9   60            65             a
10  70            75             b
11  80            85             c
12  90            95             a
13 100           105             b

In [25]:
# EXCLUIR UMA LINHA (POR NúMERO INICIAL ATÉ NÚMERO FINAL)
df <- slice(df, -c(3:6))
df

  Numeros Pares Numeros Ímpares Tipo
1   2             3             a
2   6             7             c
3  40            45             b
4  50            55             c
5  60            65             a
6  70            75             b
7  80            85             c
8  90            95             a
9 100           105             b

In [26]:
#EXCLUIR VÁRIAS LINHAS (POR NOME)
df <- df %>% filter(Tipo!="a")
df

  Numeros Pares Numeros Ímpares Tipo
1   6             7             c
2  40            45             b
3  50            55             c
4  70            75             b
5  80            85             c
6 100           105             b