# Ordenar Colunas
<br>

<i>
• Ordenar coluna de forma ascendente <br>
• Ordenar coluna de forma descendente <br>
• Ordenar por duas ou mais colunas

In [3]:
# CARREGAR PACOTE EXCEL
library(dplyr)
library(readxl)

# BUSCAR DIRETÓRIO (PASTA COM OS ARQUIVOS)
setwd("F:/Documentos/R/UDEMY")

#CARREGAR ARQUIVO
df <- read_xlsx("ordenar.xlsx")
df

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

   Nome      Idade
1  Abraão    27
2  Bernardo  25
3  Pedro     24
4  João      18
5  Maria     30
6  André     51
7  Luiz      21
8  Sandrinho 33
9  Lauro     30
10 Eduardo   27
11 Célia     35
12 Jonas     26
13 Gabriel   24
14 Anderson  21
15 Mateus    22
16 Paulo     29
17 José      46
18 Leandro   32

### • Ordenar de forma ascendente

In [2]:
df_asc <- arrange(df,Nome)
df_asc

   Nome      Idade
1  Abraão    27
2  Anderson  21
3  André     51
4  Bernardo  25
5  Célia     35
6  Eduardo   27
7  Gabriel   24
8  João      18
9  Jonas     26
10 José      46
11 Lauro     30
12 Leandro   32
13 Luiz      21
14 Maria     30
15 Mateus    22
16 Paulo     29
17 Pedro     24
18 Sandrinho 33

### • Ordenar de forma descendente

In [3]:
df_desc <- arrange(df, desc(Nome))
df_desc

   Nome      Idade
1  Sandrinho 33
2  Pedro     24
3  Paulo     29
4  Mateus    22
5  Maria     30
6  Luiz      21
7  Leandro   32
8  Lauro     30
9  José      46
10 Jonas     26
11 João      18
12 Gabriel   24
13 Eduardo   27
14 Célia     35
15 Bernardo  25
16 André     51
17 Anderson  21
18 Abraão    27

### • Ordenar por múltiplas colunas

In [4]:
df%>%arrange(Idade,Nome)

# Poderia fazer assim:
# arrange(df,Idade,Nome)

   Nome      Idade
1  João      18
2  Anderson  21
3  Luiz      21
4  Mateus    22
5  Gabriel   24
6  Pedro     24
7  Bernardo  25
8  Jonas     26
9  Abraão    27
10 Eduardo   27
11 Paulo     29
12 Lauro     30
13 Maria     30
14 Leandro   32
15 Sandrinho 33
16 Célia     35
17 José      46
18 André     51

### • Exibir as primeiras linhas

In [18]:
df %>%
  arrange(Idade) %>%
  head(df, n = 3)

  Nome     Idade
1 João     18
2 Luiz     21
3 Anderson 21

### • Exibir as últimas linhas

In [17]:
df %>%
  arrange(Idade) %>%
  tail(cadastro, n = 3)

  Nome  Idade
1 Célia 35
2 José  46
3 André 51

### • Exibir as intervalo de linhas

In [19]:
df %>%
  arrange(Idade,Nome) %>%
  slice(4:7, .preserve = TRUE)

  Nome     Idade
1 Mateus   22
2 Gabriel  24
3 Pedro    24
4 Bernardo 25