# Substituir Valores
<br><i>
• Carregar bibliotecas e o documento <br>
• Substituir um valor que está presente em toda tabela <br>
• Substituir valores em cada coluna ou coluna específica <br>
• Substituir Valores - Condicional<br>

### Carregar bibliotecas e o documento

In [1]:
library(dplyr)
library(readxl)
library(stringr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'readxl' was built under R version 3.6.3"

In [3]:
#Local do arquivo
setwd("F:/Documentos/R/UDEMY")

# Arquivo excel
df <- read_xlsx("substituir_valores.xlsx")
df

   Sexo                Idade    Estado       Salário  Ticket
1  Masculino.year:2022 32       SP.year:2022 2100     NA
2  Masculino.year:2022 31       RJ.year:2022 NA       700
3  Masculino.year:2022 30       BA.year:2022 4000     NA
4  Feminino            #29      PB.year:2022 3500     250
5  Feminino            #28      PR.year:2022 NA       NA
6  Masculino.year:2022 33       MG.year:2022 3300     300.year:2022
7  Feminino            34       RJ.year:2022 2780     NA
8  Masculino.year:2022 45       SP.year:2022 NA       500
9  Feminino            #27      SP.year:2022 4100     NA
10 Masculino.year:2022 #26      SP.year:2022 6200     1000
11 INVÁLIDO            26       BA.year:2022 NA       NA
12 Feminino            INVÁLIDO PB.year:2022 1200     250
13 Masculino.year:2022 33       INVÁLIDO     3400     NA
14 Feminino            34       PR.year:2022 INVÁLIDO 100
15 Masculino.year:2022 45       MG.year:2022 4444     INVÁLIDO
16 Feminino            30       RJ.year:2022 5555     250
   COD_
1  _001.year:2022
2  _002.year:2022
3  _002
4  _004.year:2022
5  _005
6  _006
7  _007
8  _008.year:2022
9  _009
10 _010.year:2022
11 _011
12 _012
13 _013
14 _014
15 _015
16 INVÁLIDO

### Substituir um valor que está presente em toda tabela

In [4]:

df[df == "INVÁLIDO"] <- NA
df

   Sexo                Idade Estado       Salário Ticket        COD_
1  Masculino.year:2022 32    SP.year:2022 2100    NA            _001.year:2022
2  Masculino.year:2022 31    RJ.year:2022 NA      700           _002.year:2022
3  Masculino.year:2022 30    BA.year:2022 4000    NA            _002
4  Feminino            #29   PB.year:2022 3500    250           _004.year:2022
5  Feminino            #28   PR.year:2022 NA      NA            _005
6  Masculino.year:2022 33    MG.year:2022 3300    300.year:2022 _006
7  Feminino            34    RJ.year:2022 2780    NA            _007
8  Masculino.year:2022 45    SP.year:2022 NA      500           _008.year:2022
9  Feminino            #27   SP.year:2022 4100    NA            _009
10 Masculino.year:2022 #26   SP.year:2022 6200    1000          _010.year:2022
11 NA                  26    BA.year:2022 NA      NA            _011
12 Feminino            NA    PB.year:2022 1200    250           _012
13 Masculino.year:2022 33    NA           3400    NA            _013
14 Feminino            34    PR.year:2022 NA      100           _014
15 Masculino.year:2022 45    MG.year:2022 4444    NA            _015
16 Feminino            30    RJ.year:2022 5555    250           NA

### Substituir valores em cada coluna

In [5]:
df$Estado <-gsub(".year:2022", "", df$Estado)
df$Ticket <-gsub(".year:2022", "",df$Ticket)
df$COD_ <-gsub(".year:2022", "",df$COD_)
df$Sexo <- gsub(".year:2022", "",df$Sexo)
df$Sexo <- gsub("Feminino", "F",df$Sexo)
df$Sexo <- gsub("Masculino","M",df$Sexo)
df$Idade <- gsub("#","",df$Idade)

df

   Sexo Idade Estado Salário Ticket COD_
1  M    32    SP     2100    NA     _001
2  M    31    RJ     NA      700    _002
3  M    30    BA     4000    NA     _002
4  F    29    PB     3500    250    _004
5  F    28    PR     NA      NA     _005
6  M    33    MG     3300    300    _006
7  F    34    RJ     2780    NA     _007
8  M    45    SP     NA      500    _008
9  F    27    SP     4100    NA     _009
10 M    26    SP     6200    1000   _010
11 NA   26    BA     NA      NA     _011
12 F    NA    PB     1200    250    _012
13 M    33    NA     3400    NA     _013
14 F    34    PR     NA      100    _014
15 M    45    MG     4444    NA     _015
16 F    30    RJ     5555    250    NA

### Substituir Valores - Condicional

In [6]:
df$Salário[df$Salário <=1900] <- 1910
  
df

   Sexo Idade Estado Salário Ticket COD_
1  M    32    SP     2100    NA     _001
2  M    31    RJ     NA      700    _002
3  M    30    BA     4000    NA     _002
4  F    29    PB     3500    250    _004
5  F    28    PR     NA      NA     _005
6  M    33    MG     3300    300    _006
7  F    34    RJ     2780    NA     _007
8  M    45    SP     NA      500    _008
9  F    27    SP     4100    NA     _009
10 M    26    SP     6200    1000   _010
11 NA   26    BA     NA      NA     _011
12 F    NA    PB     1910    250    _012
13 M    33    NA     3400    NA     _013
14 F    34    PR     NA      100    _014
15 M    45    MG     4444    NA     _015
16 F    30    RJ     5555    250    NA