# Agrupar Valores
<br><i>
    
• Carregar pacotes necessários<br>
• Carregar o arquivo Excel<br>
• Exibir apenas as primeiras linhas<br>
• Contar quantidade total de Linhas<br>
• Contar o total de Países por Continente<br>

In [9]:
# CARREGAR PACOTES
library(dplyr)
library(readxl)
library(stringr)


# BUSCAR DIRETÓRIO (PASTA COM OS ARQUIVOS)
setwd("F:/Documentos/R/UDEMY")

# Arquivo excel
df <- read_xlsx("país_continente.xlsx")

# Exibir apenas as primeiras Linhas
df  %>% slice(1:5, .preserve = TRUE)

  País          Capital         Continente
1 Afeganistão   Cabul           Ásia
2 África do Sul Pretória        África
3 Albânia       Tirana          Europa
4 Alemanha      Berlim          Europa
5 Andorra       Andorra-a-Velha Europa

### Total de Linhas

In [19]:
count(df)

  n
1 201

In [20]:
# Contar Linhas
count(df,Continente)

# Listar continetes
#distinct(df,Continente)

  Continente n
1 NA          4
2 África     54
3 América    35
4 Ásia       47
5 Europa     46
6 Oceania    15

### Número de Países por Continentes

In [25]:


df_continente <-
  df %>% 
  group_by(Continente) %>% 
  distinct(País) %>% 
  count()


df_continente

  Continente n
1 NA          1
2 África     54
3 América    35
4 Ásia       47
5 Europa     46
6 Oceania    15